header {
  background:#8AACFC
}
main{
  display:grid;
  grid-template areas:
    'aside article article'
    'aside footer footer';
    grid-gap: 30px;
aside {
  background:#B392FD
}
footer {
  background: #F59BFE
}
artile {
  background:#CAF4ED
}
