header {
  padding: 30px;
  background:#8AACFC;
  background-image: url('https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
  background-size: cover;
  background-attachment; fixed;
  height: 100%
}
main{
  display:grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
    grid-gap: 30px;
}
aside {
  grid-area: aside;
  background:#B392FD;
}
footer {
  grid-area: footer;
  background: #CAF4ED;
}
article {
  grid-area: article;
  background:#ffffff;
}
